body {
  background-color: #F1EDEE;
  height: 100%;
  font-family: 'tradegothiclt-bold', sans-serif;
}

.container {
  margin-top: 100px;
  margin-left: 30px;
  width: fit-content;
}

.container div {
  width: 400px;
  text-align: justify;
  margin-top: 30px;
}

.container hr {
  border: 0px;
  opacity: 0.5;
  border-bottom: 0.5px solid #686963;
}

.container h3 {
  color: #3D5467;
}

.container .content {
  color: #000;
}

h1 {
  font-size: 5em;
  color: #DB5461;
  text-transform: uppercase;
  margin: 20px 0;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
  color: #3D5467;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

small {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
